html, body {
  height: 100%;
  background-color: #111;
  font-family: 'Inter', sans-serif;
}

.main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hello {
  color: #fff;
  display: inline-block;
  font-size: 120px;
  letter-spacing: -0.022; 
  width: 600px;
  height: 600px;
  text-align: center;
  visibility: visible;
}

@-moz-keyframes
fade-it { 0% {
opacity:0
}
100% {
opacity:1
}
}

@-webkit-keyframes
fade-it { 0% {
opacity:0
}
100% {
opacity:1
}
}

@keyframes
fade-it { 0% {
opacity:0
}
100% {
opacity:1
}
}

.js-fade-in-hello {
  animation-name: fade-it;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: fade-it;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards
}

.hello.js-block { display: inline-block }

.hello.js-hide {
  display: none;
  opacity: 0
}
